.container {
  max-width: 800px;
  margin: 0 auto;
}

.mainImage {
  width: 100%;
  margin-bottom: 32px;
}

.thumbnailList {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.thumbnailList-item {
  list-style: none;
  width: 100%;
}

.thumbnailList-item img {
  width: 100%;
}